{{#if petsExist}}
{{#each pets}}



<div id="usersPetsContainer">
  <h1>{{this.petName}}</h1>

  <div class="card usersPetCard">
    <div class="row valign-wrapper">
      <div class="col s2">
        <button class="sliderButton" id="prev"><i class="material-icons">chevron_left</i></button>
      </div>
      <div class="col s8">
        {{!-- images here --}}
        <div class="swiper">
          <div class="swiper-wrapper valign-wrapper">
            {{#each path}}
            
              <div class="swiper-slide">
                <img class="usersPetImage" src="/{{this}}" alt="Pet Image" />
              </div>
            
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col s2">
        <button class="sliderButton" id="next"><i class="material-icons">chevron_right</i></button>
      </div>
    </div>

    <br>
    <br>


    <div class="row valign-wrapper">
      <div class="col s12">
        <p>{{this.petName}} is a {{this.age}} year old {{this.breed}}</p>
        
        <hr class="profileDivider">
        
        <p>{{this.description}}</p>
        <br>
        <a href=""><button class="editbutton">Edit Profile</button></a>
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


{{/each}}
{{else}}
<h1>No pets</h1>
{{/if}}